.fs-24{
  font-size: 24rpx;
}




.mgl-30{
  margin-left:30rpx;
}
.mgl-35{
  margin-left: 35rpx;
}
.mgr-35{
  margin-right:35rpx;
}
.mgb-35{
  margin-bottom: 35rpx;
}


//垂直居中
.flex-col-center{
  display: flex;
  align-items: center;
}
.flex-ver-center{
  display: flex;
  justify-content: center;
}
//水平居中
.mar-ver-center{
  margin: 0 auto;
}